In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2020-09-04 04:57:26,-33.02,27.91,59.00,51,2,6.93
1,1,Qaanaaq,GL,2020-09-04 04:57:26,77.48,-69.36,20.64,84,1,3.62
2,2,Miri,MY,2020-09-04 04:57:27,4.41,114.01,86.00,74,40,8.05
3,3,Hualmay,PE,2020-09-04 04:57:27,-11.10,-77.61,58.26,86,7,6.67
4,4,Molokovo,RU,2020-09-04 04:57:27,58.17,36.76,55.49,78,93,9.57

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Miri,MY,2020-09-04 04:57:27,4.41,114.01,86.00,74,40,8.05
6,6,Kavieng,PG,2020-09-04 04:57:28,-2.57,150.80,85.01,68,99,3.51
8,8,Takoradi,GH,2020-09-04 04:57:28,4.88,-1.76,75.51,87,94,7.76
14,14,Vanimo,PG,2020-09-04 04:57:30,-2.67,141.30,86.31,67,90,8.25
17,17,Atuona,PF,2020-09-04 04:57:31,-9.80,-139.03,78.15,75,14,20.18
19,19,Bengkulu,ID,2020-09-04 04:57:32,-3.80,102.27,82.94,78,50,8.93
22,22,Kirakira,SB,2020-09-04 04:57:33,-10.45,161.92,81.10,81,100,16.89
24,24,Sabang,ID,2020-09-04 04:57:33,5.89,95.32,83.73,72,49,9.04
28,28,Alofi,NU,2020-09-04 04:57:34,-19.06,-169.92,75.20,94,39,12.75
34,34,Hambantota,LK,2020-09-04 04:57:36,6.12,81.12,89.60,66,20,4.70

In [17]:
preferred_cities_df.count()

City_ID       196
City          196
Country       196
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
2         Miri      MY     86.00   4.41  114.01
6      Kavieng      PG     85.01  -2.57  150.80
8     Takoradi      GH     75.51   4.88   -1.76
14      Vanimo      PG     86.31  -2.67  141.30
17      Atuona      PF     78.15  -9.80 -139.03
19    Bengkulu      ID     82.94  -3.80  102.27
22    Kirakira      SB     81.10 -10.45  161.92
24      Sabang      ID     83.73   5.89   95.32
28       Alofi      NU     75.20 -19.06 -169.92
34  Hambantota      LK     89.60   6.12   81.12

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng                  Hotel Name
2         Miri      MY     86.00   4.41  114.01            Mega Hotel, Miri
6      Kavieng      PG     85.01  -2.57  150.80         Nusa Island Retreat
8     Takoradi      GH     75.51   4.88   -1.76  Raybow International Hotel
14      Vanimo      PG     86.31  -2.67  141.30       Vahmoneh Lodge Vanimo
17      Atuona      PF     78.15  -9.80 -139.03                 Villa Enata
19    Bengkulu      ID     82.94  -3.80  102.27        Grage Hotel Bengkulu
22    Kirakira      SB     81.10 -10.45  161.92                SanBiz Lodge
24      Sabang      ID     83.73   5.89   95.32                 Hotel Citra
28       Alofi      NU     75.20 -19.06 -169.92               Taloa Heights
34  Hambantota      LK     89.60   6.12   81.12                 Bungalow 63

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))