## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sapu,CN,36.17,107.71,65.05,51,94,1.36,overcast clouds
1,1,Hilo,US,19.73,-155.09,84.20,62,1,6.93,clear sky
2,2,Fairbanks,US,64.84,-147.72,59.00,71,90,5.82,overcast clouds
3,3,Huambo,AO,-12.78,15.74,59.05,33,0,1.70,clear sky
4,4,Inuvik,CA,68.35,-133.72,46.40,75,90,10.29,light intensity shower rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hilo,US,19.73,-155.09,84.20,62,1,6.93,clear sky
5,5,Touros,BR,-5.20,-35.46,82.40,61,20,14.99,few clouds
7,7,Butaritari,KI,3.07,172.79,83.05,73,35,8.21,scattered clouds
10,10,Marica,BR,-22.92,-42.82,77.00,78,4,12.75,clear sky
13,13,Sile,TR,41.18,29.61,73.99,67,0,1.01,clear sky
14,14,Rikitea,PF,-23.12,-134.97,73.15,84,6,12.53,clear sky
16,16,Bosaso,SO,11.28,49.18,90.37,54,46,4.29,scattered clouds
21,21,Kapaa,US,22.08,-159.32,82.40,74,75,13.87,broken clouds
23,23,Georgetown,MY,5.41,100.34,80.01,94,20,4.52,few clouds
28,28,Albany,US,42.60,-73.97,79.00,53,19,12.17,few clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                330
City                   330
Country                330
Lat                    330
Lng                    330
Max Temp               330
Humidity               330
Cloudiness             330
Wind Speed             330
Current Description    330
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp Current Description    Lat     Lng Hotel Name
1         Hilo      US     84.20           clear sky  19.73 -155.09
5       Touros      BR     82.40          few clouds  -5.20  -35.46
7   Butaritari      KI     83.05    scattered clouds   3.07  172.79
10      Marica      BR     77.00           clear sky -22.92  -42.82
13        Sile      TR     73.99           clear sky  41.18   29.61
14     Rikitea      PF     73.15           clear sky -23.12 -134.97
16      Bosaso      SO     90.37    scattered clouds  11.28   49.18
21       Kapaa      US     82.40       broken clouds  22.08 -159.32
23  Georgetown      MY     80.01          few clouds   5.41  100.34
28      Albany      US     79.00          few clouds  42.60  -73.97

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'].astype(bool)]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hilo,US,84.20,clear sky,19.73,-155.09,Hilo Hawaiian Hotel
5,Touros,BR,82.40,few clouds,-5.20,-35.46,INN NEW HORIZON
7,Butaritari,KI,83.05,scattered clouds,3.07,172.79,Isles Sunset Lodge
10,Marica,BR,77.00,clear sky,-22.92,-42.82,Marica Hills
13,Sile,TR,73.99,clear sky,41.18,29.61,Seref Hotel
...,...,...,...,...,...,...,...
696,Koungou,YT,75.20,clear sky,-12.73,45.20,Villa Netibor
697,Guantanamo,CU,89.60,shower rain,20.14,-75.21,Hotel Marti
698,Godean,ID,73.71,broken clouds,-7.77,110.29,Hotel Pusaka Dua
699,Brewster,US,77.00,clear sky,41.40,-73.62,Heidi's Inn
703,Corinto,GR,78.01,clear sky,37.94,22.96,Ephira Hotel

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [44]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))